TestTools/plotTesting.py
TestTools/graphical.ui
TestTools/window.py
.vscode/launch.json
src/output.py
src/tdPadraoPolos.xlsx
Datasets/Data_openloop.xlsx
Datasets/Data_closedloop.xlsx
Datasets/Data_openloop.csv
Datasets/Data_closedloop.csv
Diss_Guilherme_Salati.pdf
Data_openloop.csv
Data_closedloop.csv
src/~$tdPadraoPolos.xlsx
src/input.ui
src/__pycache__/guiPrincipal.cpython-310.pyc
Datasets/Controlador1MF.xlsx
Datasets/Controlador2MF.xlsx
Datasets/Controlador3MF.xlsx
Datasets/Controlador4MF.xlsx
Datasets/dadosControlador1.xlsx
Datasets/dadosControlador2.xlsx
Datasets/dadosControlador3.xlsx
Datasets/dadosControlador4.xlsx